{% extends 'base.html' %}

<!-- Styles -->

{% block statStyles %}
<link rel="stylesheet" href="../static/styles/stats.css" />
{% endblock statStyles %}

<!-- Page -->

{% block stat %}

<main>
  <section class="logo">
    <img src="../static/img/logo_b.png" class="logo" alt="logo" />
  </section>
  <h1>Stats for Nerds</h1>
  <form action="/stats" method="post">
    <section class="input">
      <h2>Enter your Keyword or Tweets:</h2>
      <div class="search-box">
        <input
          class="tweet-box"
          type="text"
          name="tweet"
          value="{{value}}"
          placeholder="Enter a tweet..."
        />
        <button type="submit" class="icon">
          <i class="fa fa-twitter"></i>
        </button>
      </div>
    </section>

    <section class="input">
      <h2>Select any of Our Trained Model:</h2>
      <details id="detail-element" class="custom-select">
        <summary class="radios">
          <input
            type="radio"
            value=""
            name="model-name"
            id="default"
            title="{{model_name or 'Select a Model...'}}"
            checked
          />
          <input
            type="radio"
            name="model-name"
            value="Ada-Boost-Classifier"
            id="item1"
            title="Ada Boost Classifier"
          />
          <input
            type="radio"
            name="model-name"
            value="Bernoulli-NB"
            id="item2"
            title="Bernoulli NB"
          />
          <input
            type="radio"
            name="model-name"
            value="Linear-SVC"
            id="item3"
            title="Linear SVC"
          />
          <input
            type="radio"
            name="model-name"
            value="Logistic-Regression"
            id="item4"
            title="Logistic Regression"
          />
          <input
            type="radio"
            name="model-name"
            value="Multinomial-NB"
            id="item5"
            title="Multinomial NB"
          />
          <input
            type="radio"
            name="model-name"
            value="Passive-Aggressive-Classifier"
            id="item6"
            title="Passive Aggressive Classifier"
          />
          <input
            type="radio"
            name="model-name"
            value="Perceptron"
            id="item7"
            title="Perceptron"
          />
          <input
            type="radio"
            name="model-name"
            value="Ridge-Classifier"
            id="item8"
            title="Ridge Classifier"
          />
        </summary>
        <ul class="list select">
          <li class="option">
            <label onclick="handleClick()" for="item1">Ada Boost Classifier</label>
          </li>
          <li class="option">
            <label onclick="handleClick()" for="item2">Bernoulli NB</label>
          </li>
          <li class="option">
            <label onclick="handleClick()" for="item3">Linear SVC <em>(Default)</em></label>
          </li>
          <li class="option">
            <label onclick="handleClick()" for="item4">Logistic Regression</label>
          </li>
          <li class="option">
            <label onclick="handleClick()" for="item5">Multinomial NB</label>
          </li>
          <li class="option">
            <label onclick="handleClick()" for="item6">Passive Aggressive Classifier</label>
          </li>
          <li class="option">
            <label onclick="handleClick()" for="item7">Perceptron</label>
          </li>
          <li class="option">
            <label onclick="handleClick()" for="item8">Ridge Classifier</label>
          </li>
        </ul>
      </details>
    </section>
  </form>
  <section class="output">
    <section class="overall">
      {% if output=='Positive' %}
      <h2>Overall Prediction</h2>
      <div>
        <img src="../static/img/positive.png" alt="positive" />
        <h2 style="color: #00ff00">{{output}}</h2>
      </div>
      {% elif output=='Neutral' %}
      <h2>Overall Prediction</h2>
      <div>
        <img src="../static/img/neutral.png" alt="neutral" />
        <h2 style="color: #fbec5d">{{output}}</h2>
      </div>
      {% elif output=='Negative' %}
      <h2>Overall Prediction</h2>
      <div>
        <img src="../static/img/negative.png" alt="negative" />
        <h2 style="color: #ff1201">{{output}}</h2>
      </div>
      {% else %} {% endif %}
    </section>
    <section class="progress-bar">
      {% if positive!='' and neutral!='' and negative!='' %}

      <h2>Keyword Prediction</h2>
      <table border="0" cellspacing="7">
        {% if positive!=0 %}
        <tr>
          <td class="progress-title">Positive:</td>
          <td>
            <div class="progress">
              <span
                style="color: #000;background-color: #00ff00;width: {{positive}}%"
                >{{positive}}%</span
              >
            </div>
          </td>
        </tr>
        {% endif %} {% if neutral!=0 %}
        <tr>
          <td class="progress-title">Neutral:</td>
          <td>
            <div class="progress">
              <span
                style="color: #000;background-color: #fbec5d;width: {{neutral}}%"
                >{{neutral}}%</span
              >
            </div>
          </td>
        </tr>
        {% endif %} {% if negative!=0 %}
        <tr>
          <td class="progress-title">Negative:</td>
          <td>
            <div class="progress">
              <span style="background-color: #ff1201;width: {{negative}}%"
                >{{negative}}%</span
              >
            </div>
          </td>
        </tr>
        {% endif %}
      </table>
      {% endif %}
    </section>
  </section>
  <section class="stats">
    {% if model_name!='' %}
    <h2>Selected Model</h2>
    <h2 class="model-name">{{model_name}}</h2>
    <h3>Accuracy: <span>{{accuracy_score}}%</span></h3>
    <h3>Confusion Matrix:</h3>
    <img src="{{img_path}}" alt="confusion-matrix" />
    {% endif %}
  </section>
</main>

<script src="../static/js/stats.js"></script>
{% endblock stat %}
