<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../static/styles/base.css" />
    {% block homeStyles %} {% endblock homeStyles %} {% block aboutStyles %} {%
    endblock aboutStyles %} {% block statStyles %} {% endblock statStyles %}
    <title>Belief</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="https://github.com/soorya-u/Sentiment-Analysis">
          <img class="logo" src="../static/img/logo_belief.png" alt="logo" />
        </a>
        <ul>
          <li>
            <a
              style="color: {{ '#fff' if isHome or False else '#1da1f2' }}"
              href="/"
              >Home</a
            >
          </li>
          <li>
            <a
              style="color: {{ '#fff' if isAbout or False else '#1da1f2' }}"
              href="/about"
              >About</a
            >
          </li>
          <li>
            <a
              style="color: {{ '#fff' if isStats or False else '#1da1f2' }}"
              href="/stats"
              >Stats</a
            >
          </li>
        </ul>
      </nav>
    </header>
    {% block home %} {% endblock home %} {% block about %} {% endblock about %}
    {% block stat %} {% endblock stat %}
  </body>
  <footer>
    <section class="upper">
      <div class="products">
        <h2>Our Products</h2>
        <h4><a href="https://soorya-u.github.io/Elite-AIML/">Elite-AIML</a></h4>
      </div>

      <div class="connect">
        <h2>Get in Touch</h2>
        <div class="social-icons">
          <a
            href="https://github.com/soorya-u/Sentiment-Analysis"
            target="_blank"
            ><i class="fa fa-github"></i>
          </a>

          <a href="mailto:sooryau7@gmail.com" target="_blank"
            ><i class="fa fa-envelope"></i
          ></a>

          <a href="https://www.linkedin.com/in/soorya-u/" target="_blank"
            ><i class="fa fa-linkedin-square"></i
          ></a>
        </div>
      </div>
    </section>
  </footer>
</html>
