<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Your Website Title</title>
</head>

<body>

    <header>
        <nav>
            <img class="logo" src="../static/img/belief_logo_1.png" alt="10%" width="10%" height="10%">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">About us</a></li>
                <li><a href="/">Stats</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <section class="intro">

                <img src="../static/img/B_1.png" alt="logo">
                <p> This is <b>be(;ef</b>, the sentiment analysis website ,designed to
                    derive the opinion
                    or attitude <br> of speaker at Covid-19 pandamic crisis.I'm here to be your's great
                    companion,providing
                    <br>
                    a profound understanding of the emotions expressed in text.
                </p>
            </section>

            <b>Please enter your keyword or sentence from tweets: </b>
            <br><br>
            <input type="text" name="here you">
            <input type="submit" value="GO">
            <br><br><br>
            <b>Overall opinion :</b> <br>

            <img src="../static/img/image-removebg-preview.png" alt="20%" height="20%" width="20%">

            <p style="display: inline-block;"> Positive %<br><br> <br> Neutral %<br> <br><br>
                Negative %</p>

        </article>
    </main>
    <footer>
        <div class="social">
            <div>
                <img src="../static/img/belief_logo_1.png" alt="logo">
            </div>
        </div>
        <div class="contact">
            <b>Contact us </b>
            <div>
                <i class="fa fa-github" style="font-size:24px"></i>
                <i class="fa fa-envelope" style="font-size:20px"></i>
                <i class="fa fa-linkedin-square" style="font-size:22px"></i>
            </div>
        </div>
    </footer>
</body>

</html>