{% extends 'base.html' %}
<!--  -->
{% block home %}
<main>
  <article>
    <section class="intro">
      <img src="../static/img/logo_b.png" alt="logo" />
      <p>
        This is <b>be(;ef</b>, the sentiment analysis website ,designed to
        derive the opinion or attitude <br />
        of speaker at Covid-19 pandamic crisis.I'm here to be your's great
        companion,providing
        <br />
        a profound understanding of the emotions expressed in text.
      </p>
    </section>

    <section class="working">
      <h3>Please enter your keyword or sentence from tweets:</h3>
      <form class="search-box" action="/" method="post">
        <input type="text" name="tweet" id="" placeholder="Enter a tweet..." />
        <button type="submit" class="icon">
          <i class="fa fa-twitter"></i>
        </button>
      </form>

      <h2>Overall opinion :</h2>

      <div class="output">
        <ul>
          <li>
            <img src="../static/img/positive.png" alt="positive" />
            <p>Positive: {{output}}</p>
          </li>
          <li>
            <img src="../static/img/neutral.png" alt="neutral" />
            <p>Neutral: {{output}}</p>
          </li>
          <li>
            <img src="../static/img/negative.png" alt="negative" />
            <p>Negative: {{output}}</p>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>
{% endblock home %}
