article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

article::after {
  content: "";
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 70%;
}

.intro img {
  width: 10rem;
  filter: invert(100%);
}

.intro p {
  font-size: 1.05rem;
  text-align: center;
}

.intro p span {
  color: #1da1f2;
}

.intro p .logo {
  font-size: 1.5rem;
  font-weight: 1000;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.input h2 {
  color: #1da1f2;
}

.input::after {
  content: "";
}

main article .input h3 {
  font-family: "Chakra Petch", sans-serif;
}

button[type="submit"] {
  background-color: #1da1f2;
  border-radius: 50%;
  text-align: center;
  border: none;
}

.search-box {
  background-color: #202630;
  width: 25rem;
  border-radius: 40px;
  border: 2px solid #1da1f2;
  padding: 10px 18px;
}

.search-box:hover > .icon {
  background-color: #fff;
}

.search-box:hover > .icon > i {
  color: black;
}

.icon {
  color: #eafaf1;
  float: right;
  width: 40px;
  font-size: 1rem;
  height: 40px;
  border-radius: 50%;
  background-color: #1da1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

input {
  width: 20rem;
  border: none;
  outline: none;
  padding: 0 10px;
  background: none;
  font-size: 1.1rem;
  transition: 0.5s ease;
  line-height: 40px;
  color: #fff;
}

.output {
  display: flex;
  width: 60vw;
  justify-content: space-around;
}

.overall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: start;
}

.overall div {
  display: flex;
  gap: 0.5rem;
}

.input h2,
.overall h2,
.progress-bar h2 {
  font-family: "Chakra Petch", sans-serif;
  text-align: center;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

td,
.progress span {
  font-family: "Chakra Petch", sans-serif;
}

.progress-title {
  font-size: 1.3rem;
}

.arrange {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.progress-bar .progress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 230px;
  border: 2px solid white;
  border-radius: 15px;
  overflow: hidden;
  color: white;
  height: 1.3rem;
}

.progress span {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  overflow: hidden;
  height: 100%;
  color: #000;
}

img[alt="positive"] {
  width: 2rem;
}

img[alt="neutral"] {
  width: 2rem;
}

img[alt="negative"] {
  width: 2rem;
}

@media (width<600px) {
  .output {
    width: 95vw;
    flex-direction: column;
    gap: 1.5rem;
  }

  .output .overall {
    align-self: center;
  }
}

@media (width<1080px) {
  .output {
    width: 95vw;
    justify-content: space-evenly;
  }
}

@media (width<800px) {
  .output {
    width: 95vw;
    justify-content: space-between;
  }
}

@media (width<450px) {
  .progress-bar .progress {
    width: 60vw;
  }
  .search-box {
    box-sizing: content-box;
    width: 80vw;
  }
  input {
    width: 60vw;
    padding: 0 15px;
  }
}
