main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

main::before,
main::after {
  content: "";
}

main h1,
.input h2 {
  font-family: "Chakra Petch", sans-serif;
  color: #1da1f2;
  text-align: center;
  padding: 0 0.5rem;
}

main h1 {
  font-size: 4rem;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.input h2 {
  color: #fff;
}

.input::after {
  content: "";
}

.tweet-box {
  width: 20rem;
  border: none;
  outline: none;
  padding: 0 10px;
  background: none;
  font-size: 1.1rem;
  transition: 0.5s ease;
  line-height: 40px;
  color: #fff;
}

.icon {
  color: #eafaf1;
  float: right;
  width: 40px;
  font-size: 1rem;
  height: 40px;
  border-radius: 50%;
  background-color: #1da1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

button[type="submit"] {
  background-color: #1da1f2;
  border-radius: 50%;
  text-align: center;
  border: none;
}

.search-box {
  background-color: #202630;
  width: 25rem;
  border-radius: 40px;
  border: 2px solid #1da1f2;
  padding: 0.6rem 1rem;
}

.search-box:hover > .icon {
  background-color: #fff;
}

.search-box:hover > .icon > i {
  color: black;
}

/*  */

details {
  position: relative;
  width: 20rem;
}

details[open] {
  z-index: 1;
}

summary {
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 15px;
  background-color: #ddd;
  list-style: none;
  background-color: #202630;
  border: 2px solid #1da1f2;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

summary:after {
  content: "";
  float: right;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(45deg) translate(50%, 0%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
}

summary:focus {
  outline: none;
}

details[open] summary:after {
  transform: rotate(-45deg) translate(0%, 0%);
}

.select {
  width: 100%;
  background: #ddd;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #202630;
  border: 2px solid #1da1f2;
}

.option {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  list-style: none;
}

.select::-webkit-scrollbar {
  width: 5px;
}

.select::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: solid 1rem transparent;
}

.select::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 15px;
  border: solid 0.5rem transparent;
}

.option:first-child {
  padding-top: 0;
}

.option:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
  counter-reset: radios;
}

summary.radios:before {
  content: var(--selection);
}

input[type="radio"] {
  counter-increment: radios;
  appearance: none;
  display: none;
}

input[type="radio"]:checked {
  display: inline;
  --display: block;
}

input[type="radio"]:after {
  content: attr(title);
  display: inline;
  font-size: 1rem;
}

ul.list {
  counter-reset: labels;
}

label {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border: 1px solid #727272;
  border-radius: 3px;
}

/*  */

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

input[title="Select a Model..."] {
  color: #727272;
}

/*  */

.output {
  display: flex;
  width: 60vw;
  justify-content: space-around;
}

.overall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: start;
}

.overall div {
  display: flex;
  gap: 0.5rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

td,
.progress span {
  font-family: "Chakra Petch", sans-serif;
}

.progress-title {
  font-size: 1.3rem;
}

.arrange {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.progress-bar .progress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 230px;
  border: 2px solid white;
  border-radius: 15px;
  overflow: hidden;
  color: white;
  height: 1.3rem;
}

.progress span {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  overflow: hidden;
  height: 100%;
  color: #000;
}

img[alt="positive"] {
  width: 2rem;
}

img[alt="neutral"] {
  width: 2rem;
}

img[alt="negative"] {
  width: 2rem;
}

/*  */

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.stats h2, h3 {
  font-family: "Chakra Petch", sans-serif;
  color: #fff;
  text-align: center;
  padding: 0 0.5rem;
}
.stats h2.model-name {
  font-family: "Chakra Petch", sans-serif;
  color: #1da1f2;
  text-align: center;
  padding: 0 0.5rem 1.5rem 0.5rem;
  font-size: 1.8rem;
}

.stats h3 {
  font-size: 1.2rem;
}

.stats h3 span {
  color: #1da1f2;
}

@media (width<600px) {
  .output {
    width: 95vw;
    flex-direction: column;
    gap: 1.5rem;
  }

  .output .overall {
    align-self: center;
  }
}

@media (width<1080px) {
  .output {
    width: 95vw;
    justify-content: space-evenly;
  }
}

@media (width<800px) {
  .output {
    width: 95vw;
    justify-content: space-between;
  }
}

@media (width<450px) {
  .progress-bar .progress {
    width: 60vw;
  }
  .search-box {
    box-sizing: content-box;
    width: 80vw;
  }
  .tweet-box {
    width: 50vw;
    padding: 0 15px;
  }
  details {
    width: auto;
  }
  summary {
    width: 70vw;
  }
}
