main.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  
  main.about h1,
  .input h2 {
    font-family: "Chakra Petch", sans-serif;
    color: #1da1f2;
    text-align: center;
    padding: 0 0.5rem;
    font-size: 4rem;
  }
  
  main.about::before,
  main.about::after {
    content: "";
  }
  
  .logo img {
    width: 8.5rem;
  }
  
  .para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .para h2 {
    color: #1da1f2;
    font-size: 2rem;
  }
  
  .para p {
    width: 70%;
    text-align: center;
  }
  
  .para p span {
    font-size: 1.2rem;
    font-weight: 1000;
    color: #1da1f2;
  }
  
  .devs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .devs h2 {
    color: #1da1f2;
    font-size: 2rem;
  }
  
  /*  */
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .container .card {
    height: 300px;
  }
  
  .container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
  }
  
  .container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #fff;
  }
  
  .container .card .slide {
    width: 12rem;
    height: 12rem;
    transition: 0.5s;
    overflow: hidden;
  }
  
  .container .card .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.7s;
    transform: translateY(30px);
  }
  
  .container .card:hover .slide.slide1 {
    transform: translateY(0px);
  }
  
  .container .card .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: 0.8s;
    transform: translateY(-8.5rem);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  }
  
  .container .card:hover .slide.slide2 {
    transform: translateY(-1rem);
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
  }
  
  .content .bar {
    position: absolute;
    width: 30px;
    height: 4px;
    left: 50%;
    background: #1da1f2;
  }
  
  
  .container .card .slide.slide2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
  }
  
  .container .card .slide.slide2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    color: #fff;
  }
  
  .icon img.image {
    width: 12rem;
    overflow: hidden;
    border: 2px solid #1da1f2;
    border-radius: 25%;
  }
  